table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  margin-right: 10px;
}

td,
th {
  width: 25%;
}

.btnEdit, .btnDelete{
  cursor: pointer;
}

.btnDelete{
  color: #B0304B;
}
.btnEdit{
  color: yellow;
}

.btnAgregar{
  background-color: green;
  color: white;
  border-radius: 10px;
}